*.hiv
*.lnk
SYSTEM*
NTUSER*
real_*
*.dd
*.img
evidence/
*.reg
Projects/ForensicEvidence/Browser/Chrome_History
Projects/ForensicEvidence/Browser/Edge_History
Projects/ForensicEvidence/Prefetch/
Projects/ForensicEvidence/SYSTEM.hiv
*.hiv
